# Scraping Concerts - Lab

## Introduction

Now that you've seen how to scrape a simple website, it's time to again practice those skills on a full-fledged site!
In this lab, you'll practice your scraping skills on a music website: https://www.residentadvisor.net.
## Objectives

You will be able to:
* Scrape events from a website
* Follow links to those events to retrieve further information
* Clean and store scraped data

## View the Website

For this lab, you'll be scraping the https://www.residentadvisor.net website. Start by navigating to the events page [here](https://www.residentadvisor.net/events) in your browser.

<img src="images/ra.png">

In [ ]:
#Load the https://www.residentadvisor.net/events page in your browser.

## Open the Inspect Element Feature

Next, open the inspect element feature from your web browser in order to preview the underlying HTML associated with the page.

In [1]:
#Open the inspect element feature in your browser
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
import re
import numpy as np
from splinter import Browser
executable_path = {'executable_path':'</path/to/chrome>'}

## Write a Function to Scrape all of the Events on the Given Page Events Page

The function should return a Pandas DataFrame with columns for the Event_Name, Venue, Event_Date and Number_of_Attendees.

In [22]:
html_page = requests.get('https://www.residentadvisor.net/events/us/newyork') #Make a get request to retrieve the page
soup = BeautifulSoup(html_page.content, 'html.parser')

In [25]:
events = soup.findAll('article', class_='event-item')
print(events[10])

<article class="event-item clearfix tickets-bkg-logo small-item" itemscope="" itemtype="http://data-vocabulary.org/Event"><a href="/events/1284645#tickets"><img class="nohide" src="https://residentadvisor.net/images/ra-tix.png" style="height: 23px; width: 40px; right: 0px; position: absolute; top: 1px;"/></a><span style="display:none;"><time datetime="2019-07-20T00:00" itemprop="startDate">2019-07-20T00:00</time></span><div class="bbox"><h1 class="event-title" itemprop="summary"><a href="/events/1284645" itemprop="url" title="Event details of Sole Rehab &amp; Signal &gt; Noise present: Garrett David / Vicki Powell">Sole Rehab &amp; Signal &gt; Noise present: Garrett David / Vicki Powell</a> <span>at <a href="/club.aspx?id=140928">Photo City Improv</a>, <a href="/events.aspx?ai=443">Buffalo/Rochester</a></span></h1></div></article>

In [26]:
#eventh1 = event.find('h1', class_='event-title')

Event_Name = events[10].h1.a.text

print(Event_Name)

Sole Rehab & Signal > Noise present: Garrett David / Vicki Powell

In [40]:
Venue = events[0].h1.span.text[3:]
print(Venue)

Brooklyn Mirage

In [28]:
Event_Date = events[10].time.text[0:-6]
print(Event_Date)

2019-07-20

In [30]:
Number_of_Attendees = events[1].p.span.text
print(Number_of_Attendees)

320

In [31]:
len(events)

142

In [46]:
import numpy as np
rows = []
for event in events:
    Event_Name = event.h1.a.text
    Venue = event.h1.span.text[3:]
    Event_Date = event.time.text[0:-6]
    try:
        Number_of_Attendees = int(event.p.span.text)
    except:
        Number_of_Attendees = np.nan
    row = [Event_Name, Venue, Event_Date, Number_of_Attendees]
    rows.append(row)
df = pd.DataFrame(rows)
df.head()

<bound method NDFrame.head of                                                      0  \
0                 Taste of Dust at The Brooklyn Mirage
1                     ReSolute w Zip & Thomas Melchior
2               Bassiani Night with Héctor Oaks / Ndrx
3    Boat Trippin' x Hotboi Nation with Doc Martin,...
4                  FIXED with Roman Flugel Plus Remedy
5    KUNÁ Sunset Rooftop: Djuma Soundsystem, Bonjou...
6              Baauer, Take a Daytrip and Trillnatured
7        New York Trax & Distrikt1: Thomas P. Heckmann
8                  Dope Jams 5th Annual Open-Air Party
9    Made In Colombia Boat Party with Cristian Aran...
10   Sole Rehab & Signal > Noise present: Garrett D...
11                 The Spectrum presents: Daughter 2.0
12   Warm Up: Take A Daytrip / Smino / Shenseea / B...
13                             Mark Farina, Musclecars
14   Saturday: Seltzer (Precolumbian and Bearcat) a...
15                                         Deep & Sexy
16   Frequencies Birthday Bonanza - Sleepy & Boo, S...
17             D'Noir AM feat. Anthony Lopez & Friends
18   Funk Train with Michael The Lion (Soul Clap) +...
19                     Tedd Patterson - All Night Long
20                        Made In Colombia After Party
21                    Join the Tribe with Saeed Younan
22                                        Disco Locale
23             Dominion: Tunnel (Live), Xiorro, Auspex
24     Sounds of the Nomads presents: Asia/NYC Connect
25       BOUND: Blackout with Louisahhh, LISAS, & More
26                                      Savile & AceMo
27                   The Temptation Vol 1: Cosmic Love
28                      [Outdoor Happy Hour] Meat Haus
29                Le Bain presents Heather and Colette
..                                                 ...
112          Le Youth, Tee Lerrone (Elsewhere Rooftop)
113                     Inoki Roof: Baile (Anjunadeep)
114  Air 06: Nu Sky & Yan Frenkel / Alan Ford / SQD...
115                    Friday: Working Women and Peach
116  Juan Power (Juan Maclean DJ Set + Man Power), ...
117  Apocalipsis presents: Precolumbian B2B estoc, ...
118   Mood OF Mind with Fehrplay and Attlas Boat Party
119  Cassian, Durante, Jordan James Plus Justin Str...
120                  House Konnection ft Kenny Summit.
121           Rendezvous with Garrett David (Smartbar)
122                        The Party on a Boat. Again.
123       Summer Series: Roger Sanchez, Espinal & Nova
124                  ITD: Adrestia, Gia, False Witness
125     Xennial: H0l0's 2-Year Anniversary Celebration
126          Bim Sanga / Lychee / Contakt / Sheepshead
127                Jackie House [of Honey Soundsystem]
128                Schimanski presents: Paul Oakenfold
129  Favors w Dee Diggs + Residents Ashlyn Ace & DJ...
130                            Roar: A Leo Celebration
131       Can't Stop The Feeling Midnight Yacht Cruise
132                              Mo Yasin + Yellowtech
133  Tonight's Special with Tim Zawada and Lauren M...
134                         Shawn Dub, Monchan & Snips
135  All Night with Jubilee + Nasty Nigel + Romina ...
136                                     Groundwire NYC
137          Fehrplay presents Mood of Mind Boat Party
138      Time / Place: Jenifa Mayanja with Darand Land
139          Soul Clap presents New Directions in Funk
140                                     Technofeminism
141                                Sunset Silent Disco

                                                     1           2      3
0                                      Brooklyn Mirage  2019-07-20  544.0
1                                       TBA - New York  2019-07-20  320.0
2                                             BASEMENT  2019-07-20  166.0
3                                  Circle Line Cruises  2019-07-20  162.0
4                                            Good Room  2019-07-20  141.0
5                               The Williamsburg Hotel  2019-07-20  131.0
6                                            Elsewhere  2019-07-20  113.0
7                                                 H0L0  2019-07-20   80.0
8                                         Locust Grove  2019-07-20    NaN
9                                  Circle Line Cruises  2019-07-20    NaN
10                Photo City Improv, Buffalo/Rochester  2019-07-20    NaN
11                                        Market Hotel  2019-07-20    NaN
12                                            MoMA PS1  2019-07-20    NaN
13                                           Elsewhere  2019-07-20    NaN
14                                            Nowadays  2019-07-20    NaN
15                                    Knockdown Center  2019-07-20    NaN
16                                        TBA Brooklyn  2019-07-20    NaN
17                                          Polygon BK  2019-07-20    NaN
18                                     The Sultan Room  2019-07-20    NaN
19                                        House Of Yes  2019-07-20    NaN
20                                             Club 51  2019-07-20    NaN
21                                   Hornblower Cruise  2019-07-20    NaN
22                                           Rose Gold  2019-07-20    NaN
23                               Bossa Nova Civic Club  2019-07-20    NaN
24                                          The Graham  2019-07-20    NaN
25                                           Mood Ring  2019-07-20    NaN
26                                      public records  2019-07-20    NaN
27                                      public records  2019-07-20    NaN
28                                      Arrogant Swine  2019-07-20    NaN
29                                             Le Bain  2019-07-20    NaN
..                                                 ...         ...    ...
112                                          Elsewhere  2019-07-26   50.0
113                             The Williamsburg Hotel  2019-07-26   42.0
114                                       Bogart House  2019-07-26   38.0
115                                           Nowadays  2019-07-26   27.0
116                                          Elsewhere  2019-07-26    8.0
117                                          Elsewhere  2019-07-26    NaN
118                                            Pier 15  2019-07-26    NaN
119                                          Good Room  2019-07-26    NaN
120                                               Eris  2019-07-26    NaN
121                                       TBA Brooklyn  2019-07-26    NaN
122                                            Pier 15  2019-07-26    NaN
123                                Circle Line Cruises  2019-07-26    NaN
124                                          Mood Ring  2019-07-26    NaN
125                                               H0L0  2019-07-26    NaN
126                                      Jupiter Disco  2019-07-26    NaN
127                                     public records  2019-07-26    NaN
128                                         Schimanski  2019-07-26    NaN
129                                           444 Club  2019-07-26    NaN
130                                           The Keep  2019-07-26    NaN
131                                Harbor Lights Yacht  2019-07-26    NaN
132                                          Elsewhere  2019-07-26    NaN
133                                          Rose Gold  2019-07-26    NaN
134                                            Le Bain  2019-07-26    NaN
135                                    The Sultan Room  2019-07-26    NaN
136                                          Rebecca's  2019-07-26    NaN
137                                  Hornblower Cruise  2019-07-26    NaN
138  Adam Mickiewicz Library & Dramatic Circle, Inc...  2019-07-26    NaN
139                                    C'mon Everybody  2019-07-26    NaN
140                              Bossa Nova Civic Club  2019-07-26    NaN
141                             LIC Landing by Coffeed  2019-07-26    NaN

[142 rows x 4 columns]>

In [48]:
df.columns = ["Event_Name", "Venue", "Event_Date", "Number_of_Attendees"]
df.head()

,Event_Name,Venue,Event_Date,Number_of_Attendees
0,Taste of Dust at The Brooklyn Mirage,Brooklyn Mirage,2019-07-20,544.0
1,ReSolute w Zip & Thomas Melchior,TBA - New York,2019-07-20,320.0
2,Bassiani Night with Héctor Oaks / Ndrx,BASEMENT,2019-07-20,166.0
3,"Boat Trippin' x Hotboi Nation with Doc Martin,...",Circle Line Cruises,2019-07-20,162.0
4,FIXED with Roman Flugel Plus Remedy,Good Room,2019-07-20,141.0

In [8]:
def scrape_events(events_page_url):
    #Your code here
    response = requests.get(events_page_url)
    soup = BeautifulSoup(html, 'html.parser')
    events = soup.findAll('article', class_='event-item')
    
    rows = []
    for event in events:
        event_name = event.h1.a.text
        venue = event.h1.span.text[3:]
        event_date = event.time.text[0:-6]
        try:
            number_of_attendees = int(event.p.span.text)
        except:
            number_of_attendees = np.nan
        row = [event_name, venue, event_date, number_of_attendees]
        rows.append(row)
        
    df = pd.DataFrame(rows)
    df.columns = ["Event_Name", "Venue", "Event_Date", "Number_of_Attendees"]
    return df

In [9]:
scrape_events('https://www.residentadvisor.net/events/us/newyork').head()

,Event_Name,Venue,Event_Date,Number_of_Attendees
0,"Body & Soul Anniversary: Francois K, Joe Claus...",Brooklyn Mirage,2019-07-21,174.0
1,Mister Sunday: Justin Carter and Eamon Harkin,Nowadays,2019-07-21,169.0
2,Chus & Ceballos (Elsewhere Roof),Elsewhere,2019-07-21,153.0
3,Miki Beach NYC 'Fundraiser' with Miyagi + Clarian,TBA - Brooklyn,2019-07-21,90.0
4,Deep & Sexy,Knockdown Center,2019-07-21,NaN

## Write a Function to Retrieve the URL for the Next Page

In [14]:
    browser = Browser('chrome', headless=False)
    browser.visit('https://www.residentadvisor.net/events/us/newyork')
    browser.click_link_by_partial_text('Next')
    #browser.find_link_by_partial_text('Next')
    url = browser.url
    print(url)

https://www.residentadvisor.net/events/us/newyork/week/2019-07-29

In [15]:
def next_page(url):
    #Your code here
    browser = Browser('chrome', headless=False)
    browser.visit(url)
    browser.click_link_by_partial_text('Next')
    next_page_url = browser.url
    return next_page_url

## Scrape the Next 1000 Events for Your Area

Display the data sorted by the number of attendees. If there is a tie for the number attending, sort by event date.

In [16]:
#Your code here
dfs = []
total_rows = 0
cur_url = "https://www.residentadvisor.net/events/us/newyork"
while total_rows <= 1000:
    df = scrape_events(cur_url)
    dfs.append(df)
    total_rows += len(df)
    cur_url = next_page(cur_url)
    time.sleep(1)
df = pd.concat(dfs)
df = df.iloc[:1000]
print(len(df))
df.head()

100

,Event_Name,Venue,Event_Date,Number_of_Attendees
0,"Body & Soul Anniversary: Francois K, Joe Claus...",Brooklyn Mirage,2019-07-22,174.0
1,Miki Beach NYC 'Fundraiser' with Miyagi + Clarian,TBA - Brooklyn,2019-07-22,90.0
2,Modern Times,Jupiter Disco,2019-07-22,32.0
3,Sunset Sunday: The Jazz Diaries,Le Bain,2019-07-22,5.0
4,"Rollupalooza: Toribio, Devoye, Auntie Starr, M...",Bossa Nova Civic Club,2019-07-22,NaN

## Summary 

Congratulations! In this lab, you successfully scraped a website for concert event information!